body{
    font-size: 16px;
        }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
    padding-left: 3%;
}

footer{
    text-align: right;
    font-style: oblique;
    padding-bottom: 12px;
}
